.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 2px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    margin: 5px;
}

.card svg {
    display: inline-block;
    transition: transform 200ms, opacity 200ms;

    opacity: 0;

    width: 25px;
    height: 25px;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 45ch;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-height: 400px;
    max-width: 100%;

    margin: 10px;

    border-radius: 20px;

    box-shadow: 0px 0px 14px 2px #000;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 2px solid rgba(var(--card-border-rgb), 0.5);
    }

    .card:hover svg {
        transform: translateX(4px);
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .card {
        background: rgba(var(--card-rgb), 0.1);
        border: 2px solid rgba(var(--card-border-rgb), 0.2);

        margin-bottom: 30px;
    }
}
